# macOS
.DS_STORE

# IDE files
.vs/
.vscode/
.idea/

# compiled files
app/**.js

# npm generated
node_modules
typings/
out/
npm-debug.log

# npm environment var files
.npmrc

# build files
dist/

.creds.json