p, h1 {
  color: #ccc;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
}

.btn:focus {
  outline: 0;
}

.add-repository-button {
  position: relative;
  z-index: 50;
}

.btn.btn-circle {
  border-radius: 50px;
}
.btn.btn-outline {
  background-color: lightgrey;
}

/*http://bootsnipp.com/snippets/ZkpRl*/
.navbar-nav.navbar-right .btn {
  position: relative;
  padding: 4px 20px;
  margin: 10px auto;
}

.navbar .navbar-collapse {
  position: relative;
}
.navbar .navbar-collapse .navbar-right > li:last-child {
  padding-left: 22px;
}
.navbar .nav-collapse {
  position: absolute;
  top: 0; left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}

.remote-input {
  width: 40% !important;
}

#Email1 {
  width: 100px;
}

#Password1 {
  width: 100px;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

.navbar-white {
  background-color: #E3E3E3;
  border-bottom: 2px solid #181818;
}

.navbar-pink {
  background-color: #FFA3A3;
  border-bottom: 2px solid #FFA3A3;
}

.navbar-blue {
  background-color: #58A6FD;
  border-bottom: 2px solid #58A6FD;
}

.navbar-navy {
  background-color: #001C83;
  border-bottom: 2px solid #001C83;
}

.navbar-green {
  background-color: #00990D;
  border-bottom: 2px solid #00990D;
}

#branchOptions {
  position: absolute;
  display:none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body .header {
  width: 100%;
  height: 10vh;
  background-color: #282828;
  border-bottom: 2px solid #181818;
  /* Modal Content/Box */
}

body .navbar {
  margin-bottom: 0px;
  font-size: 20px;
}

body .navbar .dropdown-menu {
  z-index: 300;
  background-color: #282828;
  width: 250px;
  color: #ffffff;
}

body .navbar .dropdown-menu a {
  color: #000;
}

/*body .navbar .repo-name {
  margin-left: 30px;
}*/

/*body .navbar .branch-name {
  margin-left: 15px;
}*/

/*body .navbar .merge {
  margin-left: 20px;
}*/

body .navbar .fa-cloud-upload {
  margin-top: 8px;
}

body .navbar .fa-cloud-download {
  margin-top: 8px;
}
/*
body .navbar .dropdown-toggle {
  margin-top: 10px;
}*/


body .file-panel {
  width: 20%;
  height: 80%;
  background-color: #282828;
  float: left;
  overflow-y: auto;
}

body .file-panel .modified-files-header .select-all-message {
  width: 77.5%;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

body .file-panel .files-changed .modified-files-message {
  padding: 20px;
}

body .file-panel .files-changed .file {
  width: 99%;
  height: 10%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}

body .file-panel .files-changed .file p {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

body .file-panel .files-changed .file input {
  vertical-align: middle;
}

body .file-panel .files-changed .file:hover {
  opacity: 0.8;
}

body .file-panel .commit-panel .commit-message-input {
  resize: none;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
}

body .file-panel .commit-panel .commit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
}

body .file-panel .commit-panel .commit-button:hover {
  opacity: 0.8;
}

body .body-panel {
  width: 80%;
  float: right;
  /* footer is 15vh, header is 50px  */
  height: calc(85vh - 50px);
}


body .body-panel .diff-panel {
  width: 0;
  height: 100%;
  float: left;
  display: flex; 
  flex-direction: column; 
}

body .body-panel .diff-panel .diff-panel-body {
    float: left;
    background-color: #282828;
    color: #fff;
    min-width: 100%;
    min-height: 100%;
}
  
  
body .body-panel .diff-panel .diff-panel-container {
    overflow: auto; 
    height: 100%;
}
  
body .body-panel .diff-panel .diff-panel-body div {
  padding: 1px 5px 1px 5px;
  white-space: pre;
  font-family: monospace;
}

body .body-panel .diff-panel .diff-panel-minimise:hover {
  background-color: #404040;
}

body .body-panel .graph-panel {
  width: 100%;
  float: right;
  height: 100%;
}

body .body-panel .graph-panel .network {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

body .authenticate {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #181818;
  box-sizing: border-box;
  color: #fff;
}

body .authenticate .input-group {
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

body .add-repository-panel {
  position: absolute;
  height: 80vh;
  width: 100%;
  background-color: #181818;
  box-sizing: border-box;
  overflow: auto;
  padding-bottom: 75px;
}

body .add-repository-panel .add-repository-body {
  padding-left: 110px;
}

body .add-repository-panel .back-button {
  float: left;
  position: absolute;
  padding: 15px;
  opacity: 0.7;
}

body .add-repository-panel .back-button:hover {
  opacity: 1;
}

body .add-repository-panel h1 {
  color: white;
}

body .add-repository-panel .open-local-repo {
  margin-top: 70px;
}

body .add-repository-panel p {
  display: inline-block;
  margin-right: 20px;
}

body .add-repository-panel input {
  display: inline-block;
  margin: 15px 30px;
  border-radius: 10px;
  border: 0;
  height: 10px;
  size: 50;
  padding: 10px;
  float: left;
}

body .add-repository-panel .button-clone{
  display: inline-block;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
  margin: 15px 40px;
  margin-left: 10px;
  float: left;
}

body .add-repository-panel .button-clone:hover{
  opacity: 0.8;
}

body .add-repository-panel .title {
  width: 100%;
}

body .add-repository-panel .title .clone-title {
  margin-top: 20px;
}

body .add-repository-panel .block {
  width: 100%;
  height: 60px;
}

body .add-repository-panel .block p {
  display: inline-block;
  margin: 15px 0px;
}

body .add-repository-panel .left {
  float: left;
  width: 22%;
  height: 100%;
}

body .add-repository-panel .right {
  float: left;
  width: 100%;
  min-width: 800px;
  height: 100%;
}

body .add-repository-panel .right .button {
  height: 100%;
}

body .navbar .fa-clone {
  margin-top: -8px;
}

body .footer {
  width: 100%;
  height: 15vh;
  background-color: #282828;
  border-top: 2px solid #181818;
  position: fixed;
  bottom: 0;
  overflow-y: auto;
}

body .footer p {
  margin: 0;
}

body .footer .git-command {
  margin: 10px;
}

.file-created {
  background-color: #84db00;
}

.file-modified {
  background-color: #ff7514;
}

.file-deleted {
  background-color: #ff2448;
}

body .file-panel .files-changed .file-not-selected {
  opacity: 0.5;
}


.edit-panel {
    display: flex; 
    flex-direction: column; 
    height: 100%
}

.edit-panel-body {
    background-color: #282828;
    color: #fff;
    overflow-y: scroll;
    width: auto;
    float: left;
    min-width: 100%;
    min-height: calc(100% - 34px);
}

.edit-panel-body div {
    white-space: pre;
    font-family: monospace;
    padding: 1px 5px 1px 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.popup-main {
    position: relative;
    width: 100%;
    height: 100% ;
    display: flex;
    overflow-y: auto;
}

.info-popup-host {
    width: 100%;
    position: fixed;
    top: -40px;
    display: flex;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 2000;
}

.info-popup {
    color: #111;
    margin: auto;
    margin-top: 20px;
    padding: 20px 30px;
    background: #eee;
    border-radius: 10px;
}

.info-popup-host.fade-in {
    opacity: 1;
    top: 0px;
}

.popup-error {
    color: rgb(180, 35, 35);
    background: #eee;
  
}

.help-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #181818;
  box-sizing: border-box;
  color: #fff;
}

.help-screen h1 {
  margin:0;
}

.help-header {
  height: 10%;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.help-header-logo {
  height: 100%;
  width: 5%; 
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-header-logo img {
  max-width:95%;
  max-height:95%;
}

.help-header-title {
  height: 100%;
  width: 90%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-header-back-btn {
  height: 100%;
  width: 5%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-body {
  height: 100%;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  overflow: auto;
}

.help-entry {
  height: auto;
  width: 70%;
  color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
}

.help-entry input {
  display: none;
}

.help-entry label {
  display: inline-block;
  width: 100%;
  height:10%;
  font-size: large;
  border-radius: 15px;
  background-color: #58A6FD;
  cursor: pointer;
  padding-left: 2%;
}

.help-entry label:hover {
  background-color: rgb(116, 178, 250);
}

.help-entry label:after {
  content: '\25b2';
  color: #CCC;
  font-weight: bold;
  float: right;
  padding-right: 2px;
  transform: rotate(180deg);
  transition: transform 0.25s ease-out;
}

.help-entry input:checked ~ .help-entry-body{
  max-height: 200vh;
  transition: max-height 0.75s ease-in;
}

.help-entry input:checked + label:after{
  transform: rotate(0);
  transition: transform 0.25s ease-in;
}

.help-entry-body {
  max-height:0;
  transition: max-height 0.55s ease-out;
  width: 100%;
  color: #fff;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  padding-left:5%;
  background-color: #282828;
  border-radius: 15px;
}

.help-entry-body img {
  margin-left: 5%;
}

.help-body-overview {
  width: 70%;
  height:auto;
  box-sizing: border-box;
  margin: 0 auto;
}