<div class="help-screen">
    <div class="help-header">
        <div class="help-header-back-btn">
            <img src="./../../../assets/Back.svg" (click)="goBack()">
        </div>
        <div class="help-header-title">
            <h1>VisualGit Help</h1>
        </div>
        <div class="help-header-logo">
            <img src="../../../assets/icons/logo.png">
        </div>
    </div>

    <!-- To add a new set of entries, copy a help-body-overview div + some help-entry divs.
    IMPORTANT: Each input and its respective label must have a different name from the existing ones.
    This is important so that each checkbox+label are related to their OWN entry -->
    <div class="help-body">
        <div class="help-body-overview">
            <h3>
                Welcome to the VisualGit help page. Learn how to get started using VisualGit
                and what it has to offer. Feel free to head back to main app using
                the button at the top left when ready. 
                <br>
                For more information, see our GitHub Page which can be found under the help bar.
            </h3>
        </div>
        
        <!-- First set of entries -->
        <div><h3><br><br></h3></div>
        <div class="help-body-overview">
            <h3>Authentication:</h3>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="signin1" id="signin1">
            <label for="signin1">Sign in</label>
            <div class="help-entry-body">
                <h3>
                    The user can sign into their GitHub Account. Checking 'remember me' will save the creditentials securely, 
                    for future authentication.
                </h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="signin2" id="signin2">
            <label for="signin2">Sign in with Saved</label>
            <div class="help-entry-body">
                <h3>
                    If the user has previously signed in with 'remember me' checked, sign in with Saved
                    will allow the user use those credentials without needing to fill out the input fields.
                </h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="signin3" id="signin3">
            <label for="signin3">Continue without signing in</label>
            <div class="help-entry-body">
                <h3>
                    This button allows the user to proceed to the main application without authentication.
                    The user can use the application, provided they don't require any authentication.
                </h3>
                <h3><br></h3>
            </div>
        </div>

        <!-- Second set of help entries. -->
        <div><h3><br><br></h3></div>
        <div class="help-body-overview">
            <h3>Adding Repositories:</h3>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="guide1" id="guide1">
            <label for="guide1">Cloning a repository using a remote URL</label>
            <div class="help-entry-body">
                <h3>1. In the navigation bar, find the following icon shown and click it, to navigate to the 'add-repository' page:</h3>
                <img src="./../../../assets/AddRepositoryFolder.svg">
                <h3>2. Copy and paste a remote URL to a repository of interest into the clone input field.</h3>
                <h3>3. Select a directory to clone the repository to, using the 'change save directory' button. (Optional)</h3>
                <h3>4. Click the 'clone' button to begin cloning the repository.</h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="guide2" id="guide2">
            <label for="guide2">Initialising a repository through VisualGit</label>
            <div class="help-entry-body">
                <h3>1. In the navigation bar, find the following icon shown and click it, to navigate to the 'add-repository' page:</h3>
                <img src="./../../../assets/AddRepositoryFolder.svg">
                <h3>2. Input the name of the new repository in the text field.</h3>
                <h3>3. Select a directory to create the new repository, using the 'change save directory' button. (Optional)</h3>
                <h3>4. Click the 'create' button to begin creating the new repository.</h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="guide3" id="guide3">
            <label for="guide3">Open a local repository through VisualGit</label>
            <div class="help-entry-body">
                <h3>1. In the navigation bar, find the following icon shown and click it, to navigate to the 'add-repository' page:</h3>
                <img src="./../../../assets/AddRepositoryFolder.svg">
                <h3>2. Select the directory where the local repository is located, using the 'open' button.</h3>
                <h3><br></h3>
            </div>
        </div>


        <!-- Third set of entries -->
        <div><h3><br><br></h3></div>
        <div class="help-body-overview">
            <h3>Using the Repository View:</h3>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="feature1" id="feature1">
            <label for="feature1">File Panel</label>
            <div class="help-entry-body">
                <h3>Once you have opened/cloned a repository, you should be able to see the file panel on the left.</h3>
                <h3>
                    The File panel will show any modified files in the repository.<br>
                    Each modified file can be distinguished by its colour: <br>
                    A Green file represents a new file to the repository. <br>
                    A Red file represents a file removed from the repository. <br>
                    An orange file represents a modified file from the repositroy. <br><br>
                    
                    Give the file panel a test run by:
                </h3>
                <h3>1. Opening, cloning or initialising a repository.</h3>
                <h3>2. Add a new file to the repository. The file should appear in green.</h3>
                <h3>If the repository has existing files:</h3>
                <h3>3. Modify a file in the repository. The file should appear in orange.</h3>
                <h3>4. Remove a file from the repository. The file should appear in red.</h3>
                <h3>
                    <br>Also visible in the file panel is the commit message input and commit button. <br>
                    Once you have finished making changes through VisualGit, you can add a message describing the
                    changes and 'commit' it. Each commit represents a set of changes since the previous iteration or commit.
                </h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="feature2" id="feature2">
            <label for="feature2">Diff Panel</label>
            <div class="help-entry-body">
                <h3>Clicking on a modifed file from the file panel will open up the diff panel.</h3>
                <h3>
                    The Diff panel will show any modifications in the file since the last commit.<br>
                    Each modified line can be distinguished by its colour: <br>
                    A Green line represents the new line added to the file. <br>
                    A Red line represents a line removed from the file.                        
                    Give the Diff panel a test run by:
                </h3>
                <h3>1. Opening an exisitng repository.</h3>
                <h3>2. Click on a modified file to open the diff panel.</h3>
                <h3>If no files appear in the file panel, you will need to manually modify the repository.</h3>
                <h3>The modified lines should be highlighted based on the type of change.</h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="feature3" id="feature3">
            <label for="feature3">Graph</label>
            <div class="help-entry-body">
                <h3>Opening a repository will show a graph detailing the history of changes.</h3>
                <h3>
                    In the graph area, the history of changes are visualled for accessibility. <br>
                    When zoomed in, the commits are condensed into nodes. Hovering over these will show the 
                    number of commits the nodes are made up of. <br>Branches from the master branch can be seen as
                    labels with arrows pointing to the node or commit it was branched from, when created.
                </h3>
                <h3><br></h3>
            </div>
        </div>

        <!-- Fourth set of entries -->
        <div><h3><br><br></h3></div>
        <div class="help-body-overview">
            <h3>Using the Navigation Bar:</h3>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="nav1" id="nav1">
            <label for="nav1">Push</label>
            <div class="help-entry-body">
                <h3>
                    Once you have committed changes to the repository, you can push the changes to the remote repository,
                    using the 'Push' button. 
                </h3>
                <img src="./../../../assets/Push.svg">
                <h3>
                    Note: A remote repository is the common repository shared between the team, hosted on a service such 
                    as Github. The current repository you are working on is a local version.
                </h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="nav2" id="nav2">
            <label for="nav2">Pull</label>
            <div class="help-entry-body">
                <h3>
                    If the local branch is not up to date with the remote, you can update it using the
                    'Pull' button.
                </h3>
                <img src="./../../../assets/Pull.svg">
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="nav3" id="nav3">
            <label for="nav3">Clone</label>
            <div class="help-entry-body">
                <h3>
                    This button is a shortcut to the clone menu.
                </h3>
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="nav4" id="nav4">
            <label for="nav4">Clean</label>
            <div class="help-entry-body">
                <h3>
                    This button removes any untracked files.
                </h3>
                <img src="./../../../assets/Clean-Dark.svg" height="50">
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="nav5" id="nav5">
            <label for="nav5">Sync</label>
            <div class="help-entry-body">
                <h3>
                    This button synchronised the local repository with the remote.
                </h3>
                <img src="./../../../assets/refresh-button.png" height="50">
                <h3><br></h3>
            </div>
        </div>

        <div class="help-entry">
            <input type="checkbox" name="nav6" id="nav6">
            <label for="nav6">Sign in/Username</label>
            <div class="help-entry-body">
                <h3>
                    This button redirects you to the sign in page if not signed in.
                    Otherwise, will give the user the option to logout.
                </h3>
                <h3><br></h3>
            </div>
        </div>
    
        <!-- Padding div to prevent display issues -->
        <div class="help-body-overview">
            <h3><br><br><br><br><br><br><br><br><br><br></h3>
        </div>
    </div>
</div>